.add {

    a {
        font-weight: 600;
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 15px;
        display: block;
        color: $primary-dark;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    h1 {
        font-size: 32px;
    }

    .add-control {
        margin: 20px 0;
    }
    label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 3px;
        display: block;
    }
    input {
        width: calc(100% - 20px);
        padding: 10px;
        outline: none;
        border: 1px solid $border-color;
        border-radius: 3px;
    }

    button {
        outline: none;
        border: none;
        padding: 10px 30px;
        font-size: 16px;
        background: $primary-color;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 30px;
        cursor: pointer;
        float: right;
        &:hover {
            background-color: darken($primary-color, 5%);
        }
    }
}