.list {
    
    .submit-btn {
        text-decoration: none;
    }
    .submit {
        width: calc(100% - 20px);
        display: flex;
        padding: 10px;
        background: #f0f0f0;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        border-radius: 7px;
        color: $primary-dark;
        cursor: pointer;
        transition: .5s all;
        .icon {
            padding: 20px;
            background: lighten($primary-color, 00%);
            margin: 0 20px 0 0;
            border-radius: 7px;
            border: 1px solid $primary-color;
            svg {
                width: 40px;
                height: 40px;
                fill: #fff;
            }
        }

        &:hover {
            color: darken($primary-dark, 15%);
            background: #e8e8e8;
        }
    }

    select {
        width: 150px;
        outline: none;
        border: 1px solid $border-color;
        margin: 10px 0;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .list-item {
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 10px 0;
        width: calc(100% - 10px);
        border-radius: 7px;
        transition: .3s all;
        position: relative;

        &:hover {
            background: #f7f7f7;
            .delete {
                display: block;
            }
        }

        .delete {
            position: absolute;
            top: -5px;
            right: -5px;
            padding: 5px;
            background: #f7f7f7;
            border-radius: 20px;
            display: none;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
                fill: #dc2142;
            }
        }
        .point {
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #f0f0f0;
            font-weight: 900;
            font-size: 2rem;
            margin-right: 10px;
            border-radius: 5px;
            color: $primary-color;
            border-radius: 5px;
            border: 1px solid darken($primary-color, 10%);
            span {
                font-weight: 300;
                font-size: .8rem;
                color: $primary-dark;
            }
        }

        .body {
            h2 {
                font-size: 1.1rem;
                font-weight: 600;
                width: calc(350px - 70px - 20px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            a {
                line-height: 1rem;
                font-size: .85rem;
                color: $primary-gray;
                margin-top: 5px;
                width: calc(350px - 70px - 20px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
            }

            .votes {
                display: flex;
                font-size: .75rem;
                font-weight: 700;
                margin-top: 10px;
                width: calc(350px - 70px - 20px);
                justify-content: space-between;
                .upvote, 
                .downvote {
                    cursor: pointer;
                    padding: 5px;
                    color: $primary-gray;
                    &:hover {
                        background: #f0f0f0;
                        border-radius: 10px;
                        color: $primary-color;
                        svg {
                            fill: $primary-color;
                        }
                    }
                     svg {
                         width: 10px;
                         height: 10px;
                         margin-right: 5px;
                         fill: $primary-gray;
                     }
                 }

            }
           
        }
    }
}