html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica Neue, sans-serif;
  
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
.swal2-deny {
  transform: translateY(-8px);
}
#swal2-title {
  font-size: 17px;
  text-align: center;
  font-weight: 400;
}
#swal2-content {  
  display: block;
  font-weight: 700;
  font-size: 30px;
}

.container {
  max-width: 1200px;
  min-width: 450px;
  width: 85%;
  margin: 0 auto;
}

.wrapper {
  margin: 20px auto;
  width: 350px;
}